<main>
    <% if(message) {%>
        <div class="alert alert-danger" role="alert">
            <p>
                <% message %>
            </p>
        </div>
        <% } %>
            <section class="advertise-section">
                <h2>GROW <span>Your Business</span></h2>
                <p>Advertise with Justdial - India’s No. 1 Local Search Engine</p>
                <form>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                    <button id="sendOtpButton" type="button" onclick="sendOtp()">Send OTP</button>
                </form>
                <!-- /////////////////// -->
                <div id="verify-otp-box" class="d-none">
                    <h2>Verify OTP</h2>
                    <p>We have sent an OTP to <span id="otp-email"></span>
                    </p>
                    <form>
                        <label for="otp">Enter OTP:</label>
                        <input type="text" id="otp" name="otp" required />
                        <button type="button" onclick="verifyOtp()">Verify</button>
                    </form>
                </div>

                <ul>
                    <li>✔ Rank Ahead of Your Competition</li>
                    <li>✔ Find Ready to Buy Customers Instantly</li>
                    <li>✔ Track Leads & Competition Trends</li>
                </ul>
            </section>
            <div>
                <img src="" alt="">
            </div>
            <div class="container-div">
                <h1>Justdial Ads Help You Achieve Your Goals</h1>
                <div class="Goal">
                    <div class="goal-item">
                        <img src="" alt="Market Your Business">
                        <p>Market Your Business to New Users</p>
                    </div>
                    <div class="goal-item">
                        <img src="" alt="Grow Your Revenue">
                        <p>Grow Your Revenue</p>
                    </div>
                    <div class="goal-item">
                        <img src="" alt="Get More Walk-in Customers">
                        <p>Get More Walk-in Customers</p>
                    </div>

                </div>
            </div>


</main>
<div class="questions-section">
    <h2>Still Having Questions?</h2>
    <textarea id="questions" placeholder="Type your questions here..."></textarea>
    <button class="submit-bn">Submit</button>
</div>

<div class="grow-business-section">
    <h1>GROW Your Business</h1>
    <p>Advertise with Justdial - India's No.1 Local Search Engine</p>
    <div class="form">
        <label for="email">Enter Email ID:</label>
        <div class="form-input">
            <input type="email" id="email2" placeholder="Enter Your Email ID">
            <button class="get-started-btn">Get Started →</button>
        </div>
    </div>
</div>
<button><a href="Three page/one.html">One page</a></button>
<button><a href="Three page/Two.html">Two page</a></button>
<button><a href="Three page/Three.html">Three page</a></button>
<div class="foot">
    <footer>
        <p>By continuing, you agree to our <a href="#">Terms of Use</a>, <a href="#">Privacy</a> & <a
                href="#">Infringement Policy</a>.</p>
    </footer>
</div>