<div class="container my-5">
    <h1 class="text-center mb-4">Enter Your Details</h1>
    <form id="details-form">
        <!-- Name -->
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="user-name" name="name" required>
        </div>

        <!-- Email -->
        

        <!-- Phone -->
        <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" class="form-control" id="user-phone" name="phone" required>
        </div>

        

        <!-- Submit Button -->
        <button type="button" class="btn btn-primary" onclick="addName()">Submit</button>
    </form>
</div>