<div class="container my-5">
    <h1 class="text-center mb-4">Enter Your Business Details</h1>
    <form id="business-details-form">
        <!-- Business Name -->
        <div class="mb-3">
            <label for="name" class="form-label">Business Name</label>
            <input type="text" class="form-control" id="business-name" name="name" required>
        </div>

        <!-- Email -->
        <!-- <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div> -->



        <!-- Pincode -->
        <div class="mb-3">
            <label for="pincode" class="form-label">Pincode</label>
            <input type="text" class="form-control" id="pincode" name="pincode" required>
        </div>

        <!-- City -->
        <div class="mb-3">
            <label for="city" class="form-label">City</label>
            <input type="text" class="form-control" id="city" name="city" required>
        </div>

        <!-- State -->
        <div class="mb-3">
            <label for="state" class="form-label">State</label>
            <input type="text" class="form-control" id="state" name="state" required>
        </div>

        <!-- Category -->
        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <input type="text" class="form-control" id="business-category" name="category" required>
        </div>
       
        <!-- Phone -->
        <div class="mb-3">
            <label for="phone" class="form-label">Business Contact Number</label>
            <input type="text" class="form-control" id="phone" name="phone" required>
        </div>

        <!-- Latitude -->
        <div class="mb-3">
            <label for="latitude" class="form-label">Latitude</label>
            <input type="text" class="form-control" id="latitude" name="latitude" required>
        </div>

        <!-- Longitude -->
        <div class="mb-3">
            <label for="longitude" class="form-label">Longitude</label>
            <input type="text" class="form-control" id="longitude" name="longitude" required>
        </div>

        <!-- Website -->
        <div class="mb-3">
            <label for="website" class="form-label">Website(Optional)</label>
            <input type="text" class="form-control" id="website" name="website">
        </div>

        <!-- Submit Button -->
        <button type="button" class="btn btn-primary" onclick="addBusinessDetails()">Add Business</button>
    </form>
</div>