
<section id="home" class="welcome-hero py-5">
    <div class="container">
        <div class="text-center mb-4 welcome-hero-text">
            <h2 class="display-4">Best Place to Find and Explore That All You Need</h2>
            <p class="lead">Find the best place, restaurant, hotel, real estate, and more in just one click.</p>
        </div>
        <div class="welcome-hero-search-box bg-light p-4 mt-5 rounded shadow">
            <form class="d-flex g-3">
                <!-- Location Section -->
                <div class="col-md-5">
                    <label for="locationInput" class="form-label"><strong>Location</strong></label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="locationInput" placeholder="Enter Location" />
                       
                    </div>
                </div>
                <!-- Business Section -->
                <div class="col-md-5">
                    <label for="businessInput" class="form-label"><strong>What?</strong></label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="businessInput" placeholder="Ex: restaurant, hotel, real estate" />
                        
                    </div>
                </div>
                
                <!-- Search Button -->
                <div class="col-md-2 text-center mt-4">
                    <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='#'">
                        Search <i data-feather="search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
<section id="list-topics" class="list-topics">
    <div class="container">
        <div class="row list-topic-content">
            <div class="single-list-topic-content">
                <div class="single-list-topics-icon">
                    <i class="flaticon-restaurant"></i>
                </div>
                <h2><a href="page/resturent/resturent.html">Restaurants</a></h2>
                <p>150 listings</p>
            </div>
            <div class="single-list-topic-content">
                <div class="single-list-topics-icon">
                    <i class="flaticon-travel"></i>
                </div>
                <h2><a href="#">Hotels</a></h2>
                <p>214 listings</p>
            </div>
            <div class="single-list-topic-content">
                <div class="single-list-topics-icon">
									
                    <i class="fa-solid fa-graduation-cap fa-2xl"></i>
                </div>
                <h2><a href="page/hotels/hotels.html">Education</a></h2>
                <p>185 listings</p>
            </div>
            <div class="single-list-topic-content">
                <div class="single-list-topics-icon">
                    <i class="flaticon-pills"></i>
                </div>
                <h2><a href="#">Hospitals</a></h2>
                <p>200 listings</p>
            </div>
            <div class="single-list-topic-content">
                <div class="single-list-topics-icon">
                    <i class="flaticon-building"></i>
                    
                </div>
                <h2><a href="#">PG/Hostels</a></h2>
                <p>120 listings</p>
            </div>
            <div class="single-list-topic-content">
                <div class="single-list-topics-icon">
                    <i class="fa-solid fa-graduation-cap fa-2xl"></i>
                </div>
                <h2><a href="#">Beauty Spa</a></h2>
                <p>150 listings</p>
            </div>
            <div class="single-list-topic-content">
                <div class="single-list-topics-icon">
                    <i class="fa-solid fa-dumbbell fa-2xl"></i>
                </div>
                <h2><a href="#">Gym</a></h2>
                <p>150 listings</p>
            </div>
            <div class="single-list-topic-content">
                <div class="single-list-topics-icon">
                    <i class="fa-solid fa-screwdriver-wrench fa-2xl"></i>
                </div>
                <h2><a href="#">Contractors</a></h2>
                <p>150 listings</p>
            </div>
            <div class="single-list-topic-content">
                <div class="single-list-topics-icon">
                    <i class="fa-regular fa-handshake fa-2xl"></i>
                </div>
                <h2><a href="#">Wedding Planning</a></h2>
                <p>150 listings</p>
            </div>
            

        </div> <!-- .row -->
    </div> <!-- .container -->
</section>

